*{
    margin: 0;
    padding: 0;
    

}
body{
    background-color:whitesmoke;
}
header{
    
    background-color: rgb(145, 4, 100);
    height: 110px;
    width: 100%;
    /* position: fixed;
    z-index: 1000; */
}
.logo h1 {
    /* 
    float: right;
    color: #000;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 900;
    margin-top: 10px;
    text-align: center;
    text-shadow: 3px  3px 3px black;
    height: 48%; */
    
    /* بعد تقسيم الشاشة */
    
    float: right;
    color: #f5efef;
    margin-right: 5px;
    font-size: 28px;
    font-weight: 900;
    margin-top: 5px;
    text-align: center;
    text-shadow: 3px 3px 3px black; 
    
}
.logo h1 a{
    text-decoration: none;
    color: #ffffff; 
}
.logo h1 a:hover{
    color: rgb(139, 134, 134);

}

.logo img{
    background-color: rgb(145, 4, 100);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    float: right;
    margin-top: 10px;
    
}
.search{
    float: left;
    margin-top: 10px;
    margin: 5px;
    
}
.search_input{
        padding: 5;
    width: 200px;
    color: #000;
    font-size: 15px;
    border: 1px solid;
    height: 22;
    /* قبل تقسيم الشاشة */
    /* padding: 5px;
    width: 250px;
    color: #000;
    font-size: 10px;
    border: 1px solid;
    margin-top: 5px; */
}
.search_btn{
    /* width: 75px;
    height: 40px;
    padding:  15px;
    background-color:rgb(29, 3, 53);
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer; */
        height: 28%;
        padding: 5px;
        background-color: rgb(29, 3, 53);
        border-radius: 5px;
        color: aliceblue;
        cursor: pointer;    
    }
    .search_btn:hover{
    height: 28%;
    padding:  5px;
    background-color: rgb(145, 4, 100);
    border-radius: 5px;
   font-size: 20px;
    cursor: pointer;

}
/* nav{
    width: 100%;
    height: 50px;
    background-color: rgb(29, 3, 53);
    border-bottom: 3px solid;
    color: white;
} */
.social ul{
    background-color: #000;
    height: 10px;
 list-style: none;
 margin-left: 20px;
}
.social ul li{
    
    float: left;
    padding: 5px 10px;
    margin-top: 10px;
}
.social ul li a{
    color: white;
}
.social ul li a:hover{
    color: rgb(29, 3, 53) ;
    background-color: aliceblue;
    padding: 5px;
}
.section ul{
    list-style: none;
   

}
.section ul li{
    float: right;
    padding: 15px;
    margin-left: 5px;
}
.section ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 3px;
    border-radius: 5px;

}
.section ul li a:hover{
    background-color: rgb(145, 4, 100);
   color: rgb(14, 13, 12);

}
.last-post, header .last-post{
    width: 100%;
    height: 50%;
    background-color:wheat;
    color: rgb(145, 4, 100);
    border-radius: 5px solid white;
    margin-top: 18px;
}
.last-post h4{
    float: right;font-size: 20px;
    margin-top: 10px;
    padding: 5px;
    margin-left: 10px;
}
.last-post ul{
    list-style: none;
    margin: 2px;
    padding: 2px;

}
.last-post .span-img img{
 float: right;
 width: 30px;
 height: 30px;
 margin-left: 10px;
 border-radius: 10px;
bottom: 50%;
}
.cart ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
.cart ul li{
    display: inline;
    margin-left: 15px;
    padding: 5px;
    font-size: 30px;

}
.cart ul li a{
   
    color: rgb(7, 9, 143);
}
.cart ul li a:hover{
    
    color: blueviolet;
}
.cart-icon{
    position: relative;
    display: inline-block;
}
.cart_count{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: rgb(252, 33, 33);
    color: white;
    padding: 4px 6px;
    border-radius: 50%;
    font-size: 18px;
}

/*---------products------*/
main{
    display: flex;
    flex-wrap: wrap;
}
.product{
    /* يسمح لنا باضافة عنصر او صورة */
    position: relative;
    margin: 10px;
    margin-top: 50px;
    padding: 20px;
    width: 200px;
    border: 1px solid;
    box-shadow: 0 5px 10px rgb(0, 0, 0,1);
    margin-bottom: 40px;
    overflow: hidden;
}
.product a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
}
.product_img{
    text-align: center;  
}
.product_img img{
    width: 180px;
    height: 158px;
    border-radius: 10px;
}
.product_img:hover{
    opacity: 0.7;
}
.product_section{
    margin-top: 5px;
    background-color: rgb(215, 218, 216);
    float: right;
    border-bottom:double rgb(8, 1, 20) ;
    border: 1px solid;
    box-shadow: 0 0 8px black;
}
.product_name{
    margin-top: 15px;
    text-align: center;
}
.product_price{
    text-align: center;
    margin-top: 5px
}
.product_price a{
    color: orange;
    font-size: 18px;
    font-weight: bold;

}
.product_description{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
.product_description i{
margin: 5px;
color: #000;
}
.qty_input{
    text-align: center;
    margin-left: 18px;
    color: #000;
}
.qty_count_mins{
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}
.quantity{
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 4px;
    color: red; 
}
/* input[type='number']{
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 4px;
    color: #000; 
} */
.qty_count_add{
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}
.add_to_cart{
    width: 100%;
    height: 35px;
    background-color: rgb(126, 123, 129);
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}
.add_to_cart:hover{
background-color:rgb(57, 55, 60) ;
color: aliceblue;
}
.unvailable{
    position: absolute;
    top: 18px;
    left: -50px;
    transform: rotate(-45deg);
    width: 150px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    padding: 5px 5px;
    background-color: orange;
    border: 0.5px solid;
}
/*---------//products//------*/
/*---------- foooter-------- */
.google_maps{
    float: left;
    width: 100%;
    height: 150px;
   }
footer{
    background-color:  rgb(145, 4, 100);
    width: 100%;
    height: 200px;
    padding: 4px;

}

footer p{
    text-align: center;
    height: 10%;
    margin-bottom: 15px;
    font-size: 25px;
}
.Edtbtn{
    direction:ltr;
    

}
.Edtbtn:hover{
    background-color:rgb(228, 226, 222);
}
/*----------// foooter//-------- */
/*---------- News Fetching-------- */
/* .news-container{
    margin-bottom: 10px;
     height: 70px;
     width:95%;
     margin: 50px auto;
     text-align: center;
     padding: 20px;
     background-color: white;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
 }
 .news-item{
     margin-bottom: 10px;
     font-size: 16px;
     color: #333;
     height: 100%;
 } */
/*----------// News Fetching//-------- */


